*~
*.o
*.in
*.lo
.libs
.dirstamp
*.la
*.pc
!Setup/pkgconfig/*.pc.in

aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing

Examples/Makefile
Examples/Makefile.conf
Makefile
Setup/Makefile
Setup/pkgconfig/Makefile
Setup/pkgconfig/clanApp.pc
Setup/pkgconfig/clanCSSLayout.pc
Setup/pkgconfig/clanCore.pc
Setup/pkgconfig/clanDatabase.pc
Setup/pkgconfig/clanDisplay.pc
Setup/pkgconfig/clanGL.pc
Setup/pkgconfig/clanGL1.pc
Setup/pkgconfig/clanGUI.pc
Setup/pkgconfig/clanMikMod.pc
Setup/pkgconfig/clanNetwork.pc
Setup/pkgconfig/clanRegExp.pc
Setup/pkgconfig/clanSWRender.pc
Setup/pkgconfig/clanSound.pc
Setup/pkgconfig/clanSqlite.pc
Setup/pkgconfig/clanVorbis.pc
Sources/API/Makefile
Sources/App/Makefile
Sources/App/Unix/.deps/
Sources/App/Win32/.deps/
Sources/CSSLayout/.deps/
Sources/CSSLayout/BoxTree/.deps/
Sources/CSSLayout/BoxTree/PropertyParsers/.deps/
Sources/CSSLayout/BoxTree/PropertyTypes/.deps/
Sources/CSSLayout/CSSDocument2/.deps/
Sources/CSSLayout/LayoutTree/.deps/
Sources/CSSLayout/Makefile
Sources/Core/.deps/
Sources/Core/CSS/.deps/
Sources/Core/Crypto/.deps/
Sources/Core/IOData/.deps/
Sources/Core/IOData/Unix/.deps/
Sources/Core/IOData/Win32/.deps/
Sources/Core/Makefile
Sources/Core/Math/.deps/
Sources/Core/Resources/.deps/
Sources/Core/System/.deps/
Sources/Core/System/Unix/.deps/
Sources/Core/System/Win32/.deps/
Sources/Core/Text/.deps/
Sources/Core/XML/.deps/
Sources/Core/Zip/.deps/
Sources/Database/.deps/
Sources/Database/Makefile
Sources/Display/.deps/
Sources/Display/2D/.deps/
Sources/Display/Collision/.deps/
Sources/Display/Font/.deps/
Sources/Display/Font/FontEngine/.deps/
Sources/Display/Image/.deps/
Sources/Display/ImageProviders/.deps/
Sources/Display/ImageProviders/JPEGLoader/.deps/
Sources/Display/Makefile
Sources/Display/Render/.deps/
Sources/Display/Win32/.deps/
Sources/Display/Window/.deps/
Sources/Display/X11/.deps/
Sources/GL/.deps/
Sources/GL/GLX/.deps/
Sources/GL/Makefile
Sources/GL/WGL/.deps/
Sources/GL1/.deps/
Sources/GL1/GLX/.deps/
Sources/GL1/Makefile
Sources/GL1/WGL/.deps/
Sources/GUI/.deps/
Sources/GUI/Components/.deps/
Sources/GUI/Components/ListView/.deps/
Sources/GUI/Components/Menus/.deps/
Sources/GUI/Layout/.deps/
Sources/GUI/Message/.deps/
Sources/GUI/Theme/.deps/
Sources/GUI/WindowManager/.deps/
Sources/MikMod/.deps/
Sources/Network/.deps/
Sources/Network/NetGame/.deps/
Sources/Network/Socket/.deps/
Sources/Network/Web/.deps/
Sources/RegExp/.deps/
Sources/SWRender/.deps/
Sources/SWRender/Canvas/.deps/
Sources/SWRender/Canvas/Commands/.deps/
Sources/SWRender/Canvas/Pipeline/.deps/
Sources/SWRender/Canvas/Renderers/.deps/
Sources/SWRender/X11/Stub/.deps/
Sources/Sound/.deps/
Sources/Sound/SoundFilters/.deps/
Sources/Sound/SoundProviders/.deps/
Sources/Sound/SoundProviders/Unix/.deps/
Sources/Sound/SoundProviders/Win32/.deps/
Sources/Sound/Unix/.deps/
Sources/Sound/Win32/.deps/
Sources/Sqlite/.deps/
Sources/Vorbis/.deps/
Tests/Makefile.conf
config.log
config.status
libtool
